body {
  background-color: #ff0000;
}
.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toast-message {
  position: fixed;
  z-index: 999;
  top: 30px;
  right: 60px;
  background: rgb(4, 175, 27);
  color: #000;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.toast-message-slide-in {
  animation: toast-animation-slide-in 0.5s ease-in;
}

.toast-message-slide-out {
  animation: toast-animation-slide-out 0.5s ease-in;
}

@keyframes toast-animation-slide-in {
  from {
    transform: translate(200px);
    opacity: 0;
  }
  to {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes toast-animation-slide-out {
  from {
    transform: translate(0px);
    opacity: 1;
  }
  to {
    transform: translate(200px);
    opacity: 0;
  }
}
